.item {
    display: flex;
}

.selectedLink {
    background-color: var(--color-accent);
    color: var(--color-primary-background);
}

.unselectedLink {
    color: var(--color-secondary-text);
}

.unselectedLink:hover {
    background-color: var(--color-secondary-background);
}

.selectedLink,
.unselectedLink {
    font-size: 0.875rem;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}
