:root {
    --color-backdrop: #00000040;
    --color-highlight: #0072e3;
    --color-primary-background: #fff;
    --color-primary-text: #000;
    --color-secondary-background: #f5f5f5;
    --color-secondary-text: #585858;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--color-primary-background);
}
